{% extends 'base.html.twig' %}

{% block title %}Accueil | CineScope{% endblock %}

{% block body %}

    <section>
        <p>
            Bienvenue sur CineScope, votre plateforme comme Netflix, mais en moins bien.
        </p>
        <div style="display: flex;">
            {% for film in films %}
                <div style="padding: 1rem; text-align: center; border: 1px solid white;  margin: 0 20px">
                    <h1>{{ film.title }}</h1>
                    <hr>
                    <p>{{ film.synopsis }}</p>
                    <hr>
                    <p>{{ film.releaseYear }}</p>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
