{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <h1>Films</h1>
    <div style="display: flex; justify-content: space-evenly;">
        {% for film in films %}
            <div style="border: 1px solid white; padding: 1rem;">
                <p>{{ film.title }}</p>
                <p>{{ film.releaseYear }}</p>
                <a href="{{ path('film_show', {id: film.id}) }}">{{ film.title }}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}


