*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Courier New";
}

a {
    text-decoration: none;
    color: white;
    padding: 0.3rem;
    background-color: #0000ff;
}

nav ul li a {
    color: white;
}

ul {
    list-style: none;
}
